{% set settings = {} %}

{% if header.lightslider %}
    {% set settings =  header.lightslider %}
{% endif %}

{% if page.header.lightslider %}
    {% set settings = settings|merge(page.header.lightslider) %}
{%  endif %}

{% set settings = config.get('plugins.lightslider')|merge(settings) %}
{% set unique_id = 'ls-' ~ random_string(10) %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#{{ unique_id }}').lightSlider({
        item:4,
        loop:false,
        slideMove:1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed:600,
        autoWidth: true,
        responsive : [
            {
                breakpoint:800,
                settings: {
                    item:5,
                    slideMove:1,
                    slideMargin:2,
                  }
            },
            {
                breakpoint:480,
                settings: {
                    item:2,
                    slideMove:1
                  }
            }
        ],
        onSliderLoad: function() {
                $('#{{ unique_id }}').removeClass('cS-hidden');
            } 
    });  
  });
</script>

{% set collection = page.collection() %}

<div id="{{ unique_id }}-wrapper" class="tickerslider">
    <ul id="{{ unique_id }}">
        {% for childpage in collection %}
            <li>
                <a class="btn btn-block" href="{{ childpage.url }}">{{ childpage.media.images|first.cropResize(250,300).html }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
